<ng-container *ngIf="loading; else todo_container">
  <div class="loading">Loading...</div>
</ng-container>

<ng-template #todo_container>
  <flex-container
    direction="column"
    align="center"
    [customStyles]="{ gap: '10px' }"
  >
    <button (click)="goBack()">Back</button>

    <flex-container direction="column" [customStyles]="{ gap: '5px' }">
      <h2>Todo Task: {{ todo.task }}</h2>

      <form (ngSubmit)="updateTodo(todo_task.value)">
        <input
          #todo_task
          type="text"
          value="{{ todo.task }}"
          placeholder="{{ todo.task }}"
          appFocus
        />

        <button>Update Task</button>
      </form>

      <ng-container *ngIf="errorMessage">
        <app-display-error [message]="errorMessage" />
      </ng-container>
    </flex-container>
  </flex-container>
</ng-template>
