<ng-container *ngIf="loading; else todo_container">
  <div class="loading">Loading...</div>
</ng-container>

<ng-template #todo_container>
  <div class="container">
    <button (click)="goBack()">Back</button>

    <div>
      <h2>Todo Task: {{ todo.task }}</h2>

      <form (ngSubmit)="updateTodo(todo_task.value)">
        <label>Update Task:</label>
        <input
          #todo_task
          type="text"
          value="{{ todo.task }}"
          placeholder="{{ todo.task }}"
        />
        <app-button [isPrimary]="true">Update task</app-button>
      </form>
    </div>
  </div>
</ng-template>
